<!DOCTYPE html>


<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SESECC</title>
    <link rel="icon" type="image/png" href="img/icono.png">
    <!--bootstrap-->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/hover.css" />
    <link href="css/signin.css" rel="stylesheet">
    <!--iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
</head>

<body class="font-dm">
    <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top text-center">
        <div class="container-fluid font-dm">
            <a class="navbar-brand ms-2" href="/">
                <!-- <img src="img/oaxaca.svg" alt="imagen" style="width: 60px;" class="" /> -->
                <img src="img/icono.svg" alt="imagen" style="width: 40px; height: 40px" class="" />
            </a>
            <button class="navbar-toggler text-center" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
            <div class="collapse navbar-collapse mx-0" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="/">INICIO</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            NOSOTROS
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/quienes">QUIÉNES SOMOS</a></li>
                            <li>
                                <a class="dropdown-item" href="/quienes#estructuraOrganica">ESTRUCTURA ORGÁNICA</a>
                            </li>
                            <li><a class="dropdown-item" href="/quienes#mision">MISIÓN</a></li>
                            <li><a class="dropdown-item" href="/quienes#vision">VISIÓN</a></li>
                            <!-- <li>
                                <a class="dropdown-item" href="/organodGobierno">ÓRGANO DE GOBIERNO</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/comisionEjecutiva">COMISIÓN EJECUTIVA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/comiteCoordinador">COMITÉ COORDINADOR</a>
                            </li> -->
                        </ul>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            NORMATIVIDAD
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/marcoNormativo">MARCO NORMATIVO</a></li>
                            <li>
                                <a class="dropdown-item" href="/construccion">TRATADOS Y COMERCIOS INTERNACIONALES</a
              >
            </li>
            <li>
              <a class="dropdown-item" href="/construccion">INTEGRIDAD PÚBLICA</a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link" href="/saladPrensa">SALA DE PRENSA</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            TRANSPARENCIA
          </a>
                        <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="transparencia">UNIDAD DE TRANSPARENCIA</a></li>
                            <li><a class="dropdown-item" href="/actas">ACTAS DE SESIONES</a></li>
                            <li>
                                <a class="dropdown-item" href="/informacionFinanciera">INFORMACIÓN FINANCIERA</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/construccion">INFORME DE GESTION</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="http://www.sesecc.oaxaca.gob.mx/wp-content/uploads/aviso-de-privacidad/aviso-de-privacidad-simplificado.pdf">AVISO DE PRIVACIDAD</a>
                            </li>
                            <li>
                                <a class="dropdown-item" href="/construccion">INFORMACION RELATIVA A LAS DENUNCIAS CIUDADANAS</a>
                            </li>
                        </ul>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/construccion">PLATAFORMA DIGITAL ESTATAL</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/contacto">CONTACTO</a>
                    </li>
                    <!-- <li class="nav-item">
                        <div class="nav-item text-nowrap float-end">
                            <a class="nav-link px-3" href="/login"><i class="bi bi-person-check-fill color-icon h5"></i></a>

                        </div>
                    </li> -->

                </ul>
                <div>
                    <!-- <button class="acceder">ACCEDER</button> -->
                    <a href="/login" class="btn btn-sm text-muted me-3" style=" border-color: #a5a5a5;">ACCEDER</a>
                </div>
            </div>
            <div>

                <div class="mx-2">
                    <a class="float" href="https://www.facebook.com/SESECCOaxaca/"><i class="bi bi-facebook color-titulo1"></i></a>
                    <a class="float" href="https://twitter.com/SESECCOaxaca"><i class="bi bi-twitter color-titulo1"></i></a>
                    <a class="float" href="https://www.youtube.com/channel/UCGPW2yCI5ZtIbG08g28785g"><i class="bi bi-youtube color-titulo1"></i></a>

                </div>
                <!-- <img src="img/oaxaca.svg" alt="imagen" style="width: 60px;" class="d-inline-block" /> -->

            </div>
        </div>
    </nav>

    <section class="container-fluid my-3 ">
        <div class="row ">
            <div class=" col-md-6 text-center">
                <main class="form-signin text-center shadow pt-0 px-3 mb-3 mb-md-0">
                    <form id="formLogin" action="/loginAlumno" method="POST">
                        <img class="" src="img/SESECC_color.svg" alt="" width="300" height="250">
                        <h2 class="h3 mb-3 fw-normal text-secondary">Acceder</h2>

                        <div class="form-floating">
                            <input type="text" class="form-control" id="user" name="user" placeholder="User">
                            <label for="floatingInput" class="text-muted"><i class="bi bi-person-fill"></i> Usuario</label>
                        </div>

                        <div class="form-floating">
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                            <label for="floatingPassword" class="text-muted"><i class="bi bi-lock-fill"></i> Contraseña</label>
                        </div>

                        <div class="m-4">
                            <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>

                        </div>
                    </form>


                </main>

                <!-- <main class="form-signin hadow-lg text-center px-auto">
                    <form id="formLogin" action="/loginCapacitacion" method="POST">
                        <img class="" src="img/SESECC_color.svg" alt="" width="300" height="250">
                        <h2 class="h3 mb-3 fw-normal text-secondary">Acceder</h2>

                        <div class="form-floating">
                            <input type="text" class="form-control" id="user" name="user" placeholder="User">
                            <label for="floatingInput" class="text-muted"><i class="bi bi-person-fill"></i> Usuario</label>
                        </div>

                        <div class="form-floating">
                            <input type="password" class="form-control" id="pass" name="pass" placeholder="Password">
                            <label for="floatingPassword" class="text-muted"><i class="bi bi-lock-fill"></i> Contraseña</label>
                        </div>



                        <div class="m-4">
                            <button class="w-100 btn btn-lg btn-primary" type="submit">Iniciar sesión</button>

                        </div>
                    </form>
                    

                </main> -->


            </div>
            <div class="col-md-6">
                <img class="img-fluid" src="img/capacitacion.jpg" alt="">
                <div class="my-4">
                    <label for="">Soy nuevo aquí </label><a class=" btn btn-lg btn-primary2 mx-2" type="submit" href="registerCapacitacion">Registrarse</a>
                </div>
            </div>

        </div>
    </section>



    <!-- Modal -->


    <!------------------------------------------------------------->

    <footer class="colorBG6 container-fluid">
        <div class="row">
            <div class="col-md-6" style="align-items: center;">
                <div class=" p-5  my-auto text-white">
                    <img src="img/SESECC_blanco hor.svg" alt="imagen" class="d-block w-100" />
                    <br>
                    <br>
                    <div class="">
                        <h4>
                            Contactanos a traves de redes sociales
                        </h4>
                        <!-- <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Similique ipsam dolorum quisquam, nobis excepturi quas, alias dicta adipisci praesentium odit aliquid ipsum! Doloremque ab nobis quis est voluptatem dolorum optio!</p> -->
                        <h4>
                            <a class="float" href="https://www.facebook.com/SESECCOaxaca/"><i class="bi bi-facebook text-white"></i></a>
                            <a class="float" href="https://twitter.com/SESECCOaxaca"><i class="bi bi-twitter text-white"></i></a>
                            <a class="float" href="https://www.youtube.com/channel/UCGPW2yCI5ZtIbG08g28785g"><i class="bi bi-youtube text-white"></i></a>
                        </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-6">
                <div class="p-5 text-white">
                    <p class="mb-0"><i class="bi bi-house"></i> Dirección</p>
                    <h4>Colón No. 1128, Colonia Centro, Oaxaca de Juárez, Oaxaca.</h4>
                    <hr>
                    <p class="mb-0"><i class="bi bi-clock"></i> Horarios de atención</p>
                    <h4>9:00 am - 17:00 pm <br> Lunes - Viernes</h4>
                    <hr>
                    <p class="mb-0"><i class="bi bi-telephone"></i> Teléfonos</p>
                    <h4>951 3516611</h4>
                    <h4>951 2063111</h4>
                </div>
            </div>
        </div>

    </footer>

    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>


    <script src="https://cdn.datatables.net/1.11.1/js/dataTables.bootstrap5.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/js/bootstrap.bundle.min.js" integrity="sha384-U1DAWAznBHeqEIlVSCgzq+c9gqGAJn5c/t99JyeKa9xxaYpSvHU5awsuZVVFIhvj" crossorigin="anonymous"></script>

    <script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(alert && alertIcon =='success') { %>
        <script>
            Swal.fire({
                    title: '<%= alertTitle %>',
                    text: '<%= alertMessage %>',
                    icon: '<%= alertIcon %>',
                    showConfirmButton: false,
                    timer: 800,
                }).then(() => {
                    window.location = '/<%= ruta %>'
                })
                //console.log('blalaala')
        </script>
        <% } %>
            <% if(alert && alertIcon =='info') { %>
                <script>
                    Swal.fire({
                            title: '<%= alertTitle %>',
                            text: '<%= alertMessage %>',
                            icon: '<%= alertIcon %>',
                            showConfirmButton: true,
                            timer: false,
                        }).then(() => {
                            window.location = '/<%= ruta %>'
                        })
                        //console.log('blalaala')
                </script>
                <% } %>

</body>

</html>