<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
    <meta name="generator" content="Hugo 0.88.1">
    <title>SESECC</title>



    <!--cdn de jquery-->
    <!-- <script src="js/jquery-3.6.0.min.js"></script> -->
    <!-- Bootstrap core CSS -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.datatables.net/1.11.1/css/dataTables.bootstrap5.min.css">
    <!--css-->
    <link rel="stylesheet" type="text/css" href="css/inicio.css" />
    <link rel="stylesheet" type="text/css" href="css/main.css" />
    <link rel="stylesheet" type="text/css" href="css/hover.css" />
    <!--iconos-->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <!--font-->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap" rel="stylesheet">

    <style>
        .bd-placeholder-img {
            font-size: 1.125rem;
            text-anchor: middle;
            -webkit-user-select: none;
            -moz-user-select: none;
            user-select: none;
        }
        
        @media (min-width: 768px) {
            .bd-placeholder-img-lg {
                font-size: 3.5rem;
            }
        }
    </style>
    <!-- Custom styles for this template -->
    <link href="css/dashboard.css" rel="stylesheet">

    <link rel="icon" type="image/png" href="/img/icono.png">
</head>

<body>

    <header class="navbar navbar-dark sticky-top colorBG4 flex-md-nowrap p-0 shadow-sm">
        <img class="col-md-3 col-lg-2 py-2 mt-2 mb-2" src="img/SESECC_blancohor.svg" alt="" width="240">
        <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



        <div type="text" class="col-md-9 col-lg-10 px-3 mt-2 mb-2 text-center" style="color: #ffff">
            <h3>Plataforma de Capacitación</h3>
        </div>



    </header>

    <div class="container-fluid">
        <div class="row">
            <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse mt-4">
                <div class="position-sticky pt-3">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/inicioCapacitacion"><i class="bi bi-journals h2"></i>
                                <span data-feather="home"></span> Cursos
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href=""><i class="bi bi-graph-up icon-lateral h2"></i>
                                <span data-feather="home"></span> Estadisticas
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href=""><i class="bi bi-envelope icon-lateral h2"></i>
                                <span data-feather="home"></span>Mensajes
                            </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href=""><i class="bi bi-gear icon-lateral h2"></i>
                                <span data-feather="home"></span>   Configuración
                            </a>
                        </li>


                    </ul>
                    <ul class="nav flex-column mb-2">

                        <hr size="3" width="100%" color="black">
                        <li class="nav-item">
                            <a class="nav-link" href=""><i class="bi bi-person-circle h2"></i>
                                 Cuenta
                            </a>
                        </li>
                    </ul>
                </div>
            </nav>




            <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">

                <div class="my-2 rounded p-md-3">
                    <div class=" shadow-lg p-lg-3 my-3">
                        <div class="card">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-md-4">
                                        <img class="img-fluid" src="<%= curso.ruta%>/<%= curso.imagen%>" alt="img">
                                    </div>
                                    <div class="col-md-8 my-4 padre">
                                        <div class="hijo text-center">
                                            <div class="color4">
                                                <h2>
                                                    <%= curso.titulo%>
                                                </h2>
                                            </div>
                                            <div class="mt-3">
                                                <p class="">
                                                    <%= curso.descripcion%>
                                                </p>
                                            </div>
                                        </div>
                                    </div>
                                </div>


                                <div class="px-lg-5">
                                    <div class="mt-3">
                                        <p class="text-center text-secondary h3">Contenido</p>
                                    </div>

                                    <div class="">
                                        <% if(temas) { %>
                                            <div>
                                                <% temas.forEach((tema)=>{ %>
                                                    <% if(tema.idcurso==curso.id) { %>
                                                        <div class="accordion accordion-flush rounded border-bottom" id="accordionFlushExample">
                                                            <div class="accordion-item rounded">
                                                                <h2 class="accordion-header rounded" id="flush-headingOne">
                                                                    <button class="accordion-button collapsed rounded" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne<%= tema.id%>" aria-expanded="false" aria-controls="flush-collapseOne">
                                                                        <i class="bi bi-dot"></i>  <%= tema.tema%>
                                                                    </button>
                                                                </h2>
                                                                <div id="flush-collapseOne<%= tema.id%>" class="accordion-collapse collapse rounded" aria-labelledby="flush-headingOne" data-bs-parent="#accordionFlushExample">

                                                                    <div class="">
                                                                        <% if(subtemas) { %>
                                                                            <div>
                                                                                <% subtemas.forEach((subtema)=>{ %>
                                                                                    <h2>

                                                                                    </h2>
                                                                                    <% if(subtema.idtema==tema.id) { %>
                                                                                        <div class="mx-4">
                                                                                            <a href="/subtema?id=<%= subtema.id %>" class="btn btn-sm">
                                                                                                <%= subtema.subtema %>
                                                                                            </a>
                                                                                        </div>

                                                                                        <% } %>
                                                                                            <% }) %>

                                                                            </div>
                                                                            <% } %>

                                                                    </div>

                                                                    <div class="ms-4 my-2">
                                                                        Agregar nuevo Subtema
                                                                        <button type="button" class="btn btn-primary btn-sm" data-bs-toggle="modal" data-bs-target="#exampleModal<%= tema.id%>">
                                                                            Nuevo Subtema
                                                                        </button>
                                                                    </div>

                                                                </div>
                                                            </div>


                                                        </div>


                                                        <% } %>
                                                            <% }) %>


                                            </div>
                                            <% } %>

                                                <div class="my-2">
                                                    <form action="/nuevoTema" method="post">
                                                        <input name="id" type="text" value="<%= curso.id%>" hidden>
                                                        <input name="user" type="text" value="<%= curso.user%>" hidden>
                                                        <div class="mt-3 mx-2">
                                                            <label for="nombre" class="form-label h6"> Agregar un nuevo Tema</label>
                                                            <div class="row">
                                                                <div class=" col-lg-10 col-md-10 mt-2">
                                                                    <input id="tema" name="tema" type="text" class="form-control d-flex" required="">
                                                                </div>
                                                                <div class="col-lg-2 col-md-2 mt-2">
                                                                    <input type="submit" class="btn btn-primary float-end" value="Agregar">
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </form>
                                                </div>
                                    </div>

                                </div>
                                <div class="mt-4 mx-lg-3">
                                    <a class="nav-link h5" href="/inicioCapacitacion"><i class="bi bi-arrow-left-circle-fill"></i> Regresar a todos los cursos</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>


            <div>
                <% if(temas) { %>
                    <div>
                        <% temas.forEach((tema)=>{ %>
                            <% if(tema.idcurso==curso.id) { %>
                                <!-- Modal -->
                                <div class="modal fade" id="exampleModal<%= tema.id%>" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
                                    <div class="modal-dialog">
                                        <div class="modal-content">
                                            <div class="modal-header">
                                                <h6 class="modal-title" id="exampleModalLabel">
                                                    <%= tema.tema%>
                                                </h6>
                                                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                            </div>
                                            <div class="modal-body">

                                                <form id="form<%= tema.id%>" action="/nuevoSubtema" method="POST" enctype="multipart/form-data" class="needs-validation">

                                                    <div id="divtitulo" class="mb-2">
                                                        <label for="titulo" class="form-label">Titulo del subtema</label>
                                                        <input id="subtema" name="subtema" type="text" class="form-control" tabindex="2" required="">
                                                        <input id="curso" name="curso" type="text" value="<%= curso.titulo%>" hidden>
                                                        <input id="tema" name="tema" type="text" value="<%= tema.tema%>" hidden>

                                                        <div class="invalid-feedback">
                                                            Este campo debe ser llenado
                                                        </div>
                                                    </div>


                                                    <div id="divcontenido" class="mb-2">
                                                        <textarea id="contenido" name="contenido" cols="10" rows="4" placeholder="Descripción" class="form-control" required=""></textarea>
                                                        <div class="invalid-feedback">
                                                            Este campo debe ser llenado
                                                        </div>
                                                    </div>


                                                    <div id="divduracion" class="mb-2">
                                                        <label for="duracion" class="form-label">Duración estimada (minutos) </label>
                                                        <input id="duracion" name="duracion" type="number" class="form-control d-inline-block" maxlength="2" oninput="if(this.value.length > this.maxLength) this.value = this.value.slice(0, this.maxLength);" style="width: 70px;" required="">
                                                        <div class="invalid-feedback">
                                                            Este campo debe ser llenado
                                                        </div>
                                                    </div>


                                                    <div>
                                                        <div class="my-1 mx-auto text-center">
                                                            <label for="archivo">Selecciona un video o un documento de contenido</label>
                                                            <div class="file2 btn btn-light">
                                                                <label for="archivo">Selecciona un archivo</label>
                                                                <input type="file" id="archivo3" name="file" required="">
                                                                <div class="invalid-feedback">
                                                                    <h6>¡Por favor seleccione una imagen!</h6>
                                                                </div>
                                                                <h2 class="text-muted"><i class="bi bi-cloud-arrow-up"></i></h2>
                                                                <h5 class="text-muted" id="nombre3">o <br>Suelta el archivo aquí</h5><br>
                                                            </div>
                                                        </div>
                                                    </div>

                                                    <input name="idcurso" type="text" value="<%= curso.id%>" hidden>

                                                    <input id="" name="idtema" type="text" value="<%= tema.id%>" hidden>



                                                    <div class="modal-footer">
                                                        <button type="button" class="btn btn-secondary" onclick="resetform('<%= tema.id%>')" data-bs-dismiss="modal">Cancelar</button>
                                                        <input name="boton" id="boton" type="submit" class="btn btn-primary" value="Guardar">
                                                        <!-- <button type="submit" class="btn btn-primary">Guardar</button> -->
                                                    </div>

                                                </form>
                                            </div>

                                        </div>
                                    </div>
                                </div>



                                <% } %>
                                    <% }) %>
                    </div>
                    <% } %>
            </div>


        </div>
    </div>


    <script src="https://ajax.googleapis.com/ajax/libs/jquery/2.2.0/jquery.min.js"></script>


    <script>
        function resetform(id) {
            console.log('estoy en reset')
            $(`#form${id}`)[0].reset();
            document.querySelector('#nombre3').innerText = `Suelta los archivos aquí`
        }

        let archivo3 = document.querySelector('#archivo3');
        archivo3.addEventListener('change', () => {
            document.querySelector('#nombre3').innerText = archivo3.files[0].name
        })
    </script>




    <script>
        // Example starter JavaScript for disabling form submissions if there are invalid fields
        (function() {
            'use strict'

            // Fetch all the forms we want to apply custom Bootstrap validation styles to
            var forms = document.querySelectorAll('.needs-validation')

            // Loop over them and prevent submission
            Array.prototype.slice.call(forms)
                .forEach(function(form) {
                    form.addEventListener('submit', function(event) {
                        if (!form.checkValidity()) {
                            event.preventDefault()
                            event.stopPropagation()
                        }

                        form.classList.add('was-validated')
                    }, false)
                })
        })()
    </script>


    <script src="js/bootstrap.bundle.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/feather-icons@4.28.0/dist/feather.min.js" integrity="sha384-uO3SXW5IuS1ZpFPKugNNWqTZRRglnUJK6UAZ/gxOX80nxEkN9NcGZTftn6RzhGWE" crossorigin="anonymous"></script>
    <!-- <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.4/dist/Chart.min.js" integrity="sha384-zNy6FEbO50N+Cg5wap8IKA4M/ZnLJgzc6w2NqACZaK0u0FXfOWRRJOnQtpZun8ha" crossorigin="anonymous"></script>
    <script src="dashboard.js"></script> -->


</body>

</html>